*:focus {
    outline: none;
}

a, button {
    cursor: pointer;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-button {
    @apply rounded-full shadow-sm ;
    @apply text-sm lg:text-base px-3 lg:px-4 font-medium bg-header-button hover:shadow-md;
    font-size: inherit;
    color: white;
    display: flex;
    place-items: center;
    height: 40px
}

.header-button.no-bg {
    @apply bg-transparent hover:shadow-none;
}

.header-input { 
    @apply p-0 pl-4 pr-16 h-[40px] w-full lg:w-[420px] rounded-full border border-[#e0e0e0] text-[#757575] bg-[#f9f9f9];
    font-size: inherit;
    color: inherit;
}

.search-results {
    @apply absolute top-[100%] w-full lg:w-[420px] left-0 bg-white;
    overflow: hidden;
    position: absolute;
    border-radius: 3px;
    margin-top: 2px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
    max-height: 400px;
    z-index: 20;
    overflow: auto;
    display: none;
}

.list_grid {
    @apply flex items-center justify-between;
}

.menu-hidden {
    @apply hidden lg:block;
}

.menu-hidden ul {
    max-height: 300px;
    overflow-y: auto;
}

#header_left_menu .menu-hidden:first-child {
    display: block!important;
}

.hidden-menu {
    @apply lg:absolute left-0 w-full bg-white text-black z-10;
    text-align: -webkit-center;
    display: none;
}



#header_left_menu li.active {
    @apply lg:bg-white;
}

#header_left_menu li {
    line-height: 45px;
    font-size: 14px;
}

/*  for pc only */
@media (min-width: 1024px) {
    #header_left_menu li {
        line-height: 50px;
        border-right: solid 1px #ddd;
    }

    #header_left_menu li:hover > .hidden-menu { 
        display: block!important;
    }    
}



/* 
    Carousel CSS
*/
.carousel-trending {
    /* 1.7 items visible */
    --slide-size: 45%;
    --slide-spacing: 0.75rem;
}

@media (min-width: 768px) {
    .carousel-trending {
        --slide-size: 40%;
        --slide-spacing: 1rem;
    }
}

@media (min-width: 1024px) {
    .carousel-trending {
        --slide-size: 22%;
    }
}

.carousel-viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
}

.two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.loaded {
    opacity: 1!important;
}

.lazy {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #f9f9f9;
}